@charset "UTF-8";
@font-face {
    font-family: "bendecido";
    src: url("../font/Magnolia\ Script.otf");
}

* {
    margin: 0px;
    padding: 0px;
}

body {
background-image: linear-gradient(to top, #ff914c, #ffcf56);
background-attachment: fixed; 
max-width: 600px; 
margin: auto;  
}
header {
    text-align: center;
    padding: 10px;
}
header>h1 {
    color: rgb(255, 255, 255);
    font-family: "bendecido";
    text-shadow: 2px 2px 3px black, -2px 2px 3px black, 2px -2px 3px black, -2px -2px 3px black;  
      
}
