@charset "UTF-8";

@font-face {
    font-family: "bendecido";
    src: url("../font/Magnolia\ Script.otf");
}

* {
    margin: 0px;
    padding: 0px;
}

body {
background-image: linear-gradient(to top, #ff914c, #ffcf56);
background-attachment: fixed;    
}
header {
    text-align: center;
}
header>h1 {
    color: rgb(255, 255, 255);
    font-family: "bendecido";
    text-shadow: 2px 2px 3px black, -2px 2px 3px black, 2px -2px 3px black, -2px -2px 3px black;  
      
}

nav {
    background-color: azure;
    height: 300px;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.349);
}
nav>section {
    width: 200px;
    margin: auto;
    padding: 10px;
}

div {
    background-color: aqua;
    margin: 0px 0px 20px 0px;
    padding: 10px;
    width: 200px;
    border-radius: 20px;
    
}
div>a {
    font-family: "Arial, Helvetica, sans-serif";
}

footer {
    background-color: black;
    margin: 5px;
    text-align: center;
}
footer>p {
    color: white;
    padding: 1px;
}
